/* ----------------------------------
	০. জরুরী ফাইল সংযুক্ত		
---------------------------------- */
/* --→ গুগল ফন্ট ←-- */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;500;700&display=swap');

/* --→ বুটস্ট্রাপ আইকন ←-- */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");


/* ----------------------------------
	১. মেইন সিএসএস স্টাইল
---------------------------------- */
::selection {
	color: var(--bs-light);
	background-color: var(--bs-primary);
}

/* → স্ক্রলবার স্টাইল ← */
::-webkit-scrollbar {
	width: 12px;
	background-color: var(--bs-dark);
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px #ffffff41;
	background-color: var(--bs-dark);
	border-radius: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--bs-primary);
	border-radius: 10px;
}

body {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.2rem;
}

/* --→ হেডার সেকশন ←-- */
#header-section,
#call-to-action {
	background: rgb(0,4,40);
	background: linear-gradient(72deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
}

.takwa-toggler-icon {
	color: var(--bs-light);
	font-size: 32px;
}

/* --→ আমাদের প্যাকেজ ←-- */
#packeges .btn:hover {
	color: var(--bs-light);
	background-color: var(--bs-primary);
}

#packeges img {
	transition: all .4s linear;
}

#packeges img:hover {
	transform: scale(1.1);
}